body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffcd33;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #009444;
}

p {
    text-align: justify;
}

form {
    display: grid;
    gap: 10px;
}

label, input {
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1096cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#predictionResult {
    margin-top: 20px;
    text-align: center;
    color: #009444;
}
